/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 1, 2017, 9:56:41 PM
    Author     : Aleksandar
*/

body{background: linear-gradient(to bottom right,lightblue,blue)};

.menidugmad{background-color: green; color: lightgrey}